@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* varialbes */
:root {
  /* colors */
  --bc: #000;
  --button1st: #e2e2e2;
  --button2nd: #d74f41;

  --font-headers: bolder "Open Sans", sans-serif;

  /* Setup custom properties (CSS variables) for colors and spacing/padding/margin */
  --large: clamp(2rem, 5vw, 5rem);
  --medium: clamp(1.5rem, 3vw, 3rem);
  --small: clam(1rem, 1.25vw, 1.25rem);
}

/* reset */
body,
h2,
h3,
p,
button,
/* input, */
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
}
/* base styles */
* {
  box-sizing: border-box;
  /* outline: 2px dotted red; */
}

/* fonts */

html {
  font-size: 100%;
}

/* mobil styles */
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--button1st);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headers);
}
span {
  font-weight: 100;
}
button,
input,
.button {
  border-radius: 1vw 1vw 1vw 1vw;
  padding: 0.5rem 0.7rem;
}
/* top section */
.top {
  max-width: 50vw;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}
img {
  max-width: 100%;
}
.top article:first-of-type {
  text-align: center;
}
.top article:first-of-type p:first-of-type,
#icons li,
button,
.button {
  font-size: 0.8rem;
}
#icons,
.serves {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.serves p:first-of-type {
  /* selects the first p inside the .top  */
  margin-left: auto;
  background-color: var(--button1st);
}
/* small tablet styles */
@media screen and (min-width: 620px) {
}
/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* destop styles */
@media screen and (min-width: 1200px) {
}
